.c-btn {
  align-items: center;
  background-color: #00ab4d;
  border-radius: 16px;
  color: #fff;
  display: flex;
  font-size: 1.3rem;
  font-weight: bold;
  height: 30px;
  justify-content: center;
  margin: 20px auto;
  width: 200px;
}
